@import "styles/variables.scss";

.App {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    header {
        height: 5rem;
        background-color: $dark-blue-green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1vw;

        .logo {
            font-size: 3rem;
            text-decoration: none;
            color: inherit;
        }

        nav {
            height: 100%;

            a {
                display: inline-flex;
                flex-flow: column nowrap;
                justify-content: center;
                height: 100%;
                padding: 0 2rem;
                margin: 0 1rem;
                color: inherit;
                text-decoration: none;
            }
        }
    }

    footer {
        height: 5rem;
        background-color: $dark-blue-green;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 1vw;
    }

    section {
        flex: 1;
        background-color: $blue-green;
        padding: 1vh 1vw;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
